
{{#if success_msg}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_msg}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error_msg}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}
<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h3>Edit Spells</h3>
    </div>
    <div class="card-body">
      <form action="/app/app/games/games/edit-game/{{gamesi._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <div class="mb-3">
          <label for="title">Name:</label>
          <input
            type="text"
            name="title"
            class="form-control"
            value="{{spellsi.name}}"
          />
        </div>
        <div class="mb-3">
          <label for="description">Level:</label>
          <textarea
            name="description"
            class="form-control"
          >{{spellsi.level}}</textarea>
        </div>
        <div class="mb-3">
          <label for="type">Casting Time:</label>
          <input
            type="text"
            name="type"
            class="form-control"
            value="{{spellsi.casting_time}}"
            placeholder="{{spellsi.casting_time}}"
          />
        </div>
        <div class="mb-3">
          <label for="price">Duration:</label>
          <input
            type="text"
            name="price"
            class="form-control"
            value="{{spellsi.duration}}"
            {placeholder="{{spellsi.duration}}"}
          />
        </div>
        <div class="mb-3">
          <label for="engine">Range:</label>
          <input
            type="text"
            name="engine"
            class="form-control"
            value="{{spellsi.range}}"
            {placeholder="{{spellsi.range}}"}
          />
        </div>
        <div class="mb-3">
          <label for="platform">Attack/Save:</label>
          <input
            type="text"
            name="platform"
            class="form-control"
            value="{{spellsi.attack_save}}"
            {placeholder="{{spellsi.attack_save}}"}
          />
        </div>
        <div class="mb-3">
          <label for="classification">Effect:</label>
          <input
            type="text"
            name="classification"
            class="form-control"
            value="{{spellsi.effect}}"
            {placeholder="{{spellsi.effect}}"}
          />
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Save
        </button>
      </form>
    </div>
  </div>
</div>