<div class="row">
    {{#each weapons}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body ">
                <h4 class="card-title d-flex justify-content-between align-items-center">{{weaponName}}
                     <a href="/weapon/{{_id}}"><i class="fas fa-edit"></i></a></h4> 
                <p>{{weaponName}}</p>
                <p>{{description}}</p>
                <p>{{category}}</p>
                <p>{{damage}}</p>
                <p>{{damageType}}</p>
                <p>{{itemRarity}}</p>
                <p>{{properties}}</p>
                <p>{{weight}}</p>
                 <!-- DELETE REQUEST -->
        <form action="/weapons/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
            </div>
        </div>
    </div>
     {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello </h1>
      <p clsss="lead">There are no weapons yet.</p>
      <a href="/weapons/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>